<div style="margin: 100px auto;" align="center">
<p><font color="light blue"><em>Welcome to Repolyser, a web application designed to help students/developers get started with open source.</font></em></p>
<p><font color="light blue"><em>"Repolyser" word is basically a portmanteau of "Repository" and "Analyser", i.e a Repository Analyser.</font></em></p>


<p><font color="light blue">Getting started in open source is usually a great hurdle for new-comers. The sudden gush of new information and technicalities obfuscate most.</font></p>
<p><b>While contributing to a desired GitHub repository is the main pattern of open source, selecting correct organisation's repository w.r.t your skillset happens to be the most important part though.</b></p>
<p><b></em>Thus, Repolyser helps such new-comers in the following ways:</b></em></p>
<div ><font color="green">
<li>Help categorize the various repositories on the basis of their complexity</li>
<li>Guests can view the curated division created by experienced users who label them as: "Beginner","Intermediate" or "Advanced" w.r.t to their experience.</li>
<li>Guests can also view the details of the author who created the suggestion by clicking the "Show" button.</li>
<li>Finding a conducive repository written in the language of your choice becomes a lot easier with Repolyser.</li>
</font>
</div>
</div>
